@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Rubik:wght@300&display=swap");
:root {
  --color-text: #99d6ea;
  --body-color: #1b1d36;
}
body {
  background-color: var(--body-color);
  margin: 0;
}

h1 {
  text-align: center;
  color: var(--color-text);
  font-size: 3rem;
  font-family: "Ibarra Real Nova", serif;
  font-family: "Rubik", sans-serif;
  text-shadow: 0 0 10px var(--color-text);
}

h3 {
  color: var(--color-text);
  font-size: 1rem;
  font-family: "Ibarra Real Nova", serif;
  font-family: "Rubik", sans-serif;
  text-shadow: 0 0 10px var(--color-text);
  text-align: center;
}
.game {
  color: var(--color-text);
  font-size: 2rem;
  font-family: "Ibarra Real Nova", serif;
  font-family: "Rubik", sans-serif;
  text-shadow: 0 0 10px var(--color-text);
  text-align: left;
}

#game {
  color: var(--color-text);
  font-size: 1rem;
  text-align: center;
  display: grid;
}
.name {
  color: var(--color-text);
  font-size: 1rem;
  font-family: "Ibarra Real Nova", serif;
  font-family: "Rubik", sans-serif;
  text-shadow: 0 0 10px var(--color-text);
  left: -210px;
  top: -20px;
  text-align: center;
}

/*image*/
img {
  padding: 20;
  color: var(--color-text);
  border-radius: 10%;
  box-shadow: 0 0 10px var(--color-text);
  font-size: 3rem;
  text-shadow: 0 0 10px var(--color-text);
  top: 900px;
  width: 250px;
}

.img {
  position: relative;
  display: inline-flex;
  margin: auto 130px;
  width: 50px;
  height: 300px;
  left: 800px;
  top: 1;
}
/*Button*/
#btn {
  position: relative;
  height: 60px;
  width: 400px;
  left: 100px;
  top: 200px;
  border: 0px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 10px var(--color-text);
  font-family: "Ibarra Real Nova", serif;
  font-family: "Rubik", sans-serif;
}

.fade-in-image {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}


#themebtn_id{
  position:relative;
  height: 1px;
  width: 90px;
  left: 100px;
  top: 100px;
  border: 90px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 100%;
  box-shadow: 0 0 10px var(--color-text);
  font-family: "Ibarra Real Nova", serif;
  font-family: "Rubik", sans-serif;
  color: var(--color-text);
}














                                                         








































































































































































































































































































@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a:hover {
  text-decoration: none;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip  on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

